html, body {
  background-color: white;
}

.mainContainer {
  background-color: transparent;
  position: fixed;
  align-content: center;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1200px;
  transform: translate(-50%, 0);

  border-left-style: solid;
  border-right-style: solid;
  border-width: 2px;

}

.logoutBtn {
  background-color: rgb(117, 71, 61);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 60px;
  padding: 0 20px;
  margin-left: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 20px;

  position: absolute;
  right: 10px;
  top: 10px;


  user-select: none;
  cursor: pointer;
}

.logoutBtn:hover {
  background-color: rgb(95, 55, 47);
}

.leftMenu {
  background-color: transparent;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  top: 20px;
  bottom: 20px;
  left: 0;
  width: 250px;

  user-select: none;
}

.iconBtn {
  background-color: transparent;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  margin-left: 5px;
  border: none;
  border-radius: 20px;


  -webkit-user-drag: none;
  cursor: pointer;
}

.iconBtn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}


.icons {
  image-rendering: crisp-edges;
  height: 25px;
  width: 25px;
  margin-right: 20px;

  -webkit-user-drag: none;
}



.middleMenu {
  background-color: transparent;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 20px;
  bottom: 20px;
  width: 700px;
  left: 50%;

  border-style: solid;
  border-width: 1px;

  transform: translate(-50%, 0);
}

.postContainer {
  background-color: rgb(219, 219, 219);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 15px;
  top: 10px;
  height: 140px;
  width: 650px;

  user-select: none;
}

.postInput {
  background-color: transparent;
  border: none;
  outline: none;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 17px;
  top: 10px;
  height: 80px;
  width: 630px;

  user-select: none;
  resize: none;
}

.postInput::placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}

.postBtn {
  background-color: rgb(117, 71, 61);
  color: white;
  position: absolute;
  right: 20px;
  bottom: 10px;
  width: 70px;
  height: 30px;
  border-radius: 25px;
  border-style: none;

  user-select: none;
  cursor: pointer;
}

.postBtn:hover {
  background-color: rgb(92, 56, 48);
}


.postFeed {
  background-color: transparent;
  position: absolute;
  display: flex;
  flex-direction: column;
  
  gap: 20px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 160px;

  user-select: none;
}

.post {
  background-color: rgb(231, 231, 231);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}


.postContent {
  font-family: Arial, Helvetica, sans-serif;
  word-wrap: break-word;
  white-space: pre-wrap;
}


.postUser {
  color: rgb(62, 62, 62);
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}

.postTime {
  color: rgb(62, 62, 62);
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}